<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="reportPortal"
			type="ReportPortal.SpecFlowPlugin.ReportPortalSection, ReportPortal.SpecFlowPlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<reportPortal enabled="true">
		<server url="http://127.0.0.1:8090/api/v1/" project="superadmin_personal">
			<authentication username="superadmin" password="9772eac3-3417-45cf-845d-a11ef321eb6c"/>
		</server>
		<launch name="SPECFLOW" debugMode="false" tags="t1"/>
	</reportPortal>
</configuration>